---
---
@import 'main';

body {
  background-color:$gray-900;
}

h1, h2, h3, h4, h5, h6 {
  color:$gray-200;
}

p, li, table {
  color:$gray-300;
}

.text-muted p, .text-muted li {
  color:#6c757d !important;
}

.front-page {
  .motion-code {
    color:$gray-600;
  }
  .motion-title {
    color: $gray-500;
  }
}

.sidebar {
  .btn {
    color: $gray-300;
    &::before {
      content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28225,225,225,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    }
  }
  a {
    color: $gray-300;
  }
}

.alert {
  &.alert-primary {
    border-color:$green-500;
    background-color:$green-800;
    color:$gray-400;
  }
  &.alert-defeated {
    border-color:$red-500;
    background-color:$red-800;
    color:$gray-400;
  }
}

.dark-mode::after {
  content:"\F497";
}

.bg-tbd {
  background-color:$gray-700 !important;
  color:$gray-300;
}

.offcanvas {
  background-color: $gray-900;
  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}
