{% case include.status %}
  {% when "defeated" %}
    {% assign label = "Amendment defeated" %}
  {% when "passed" %}
    {% assign label = "Amendment passed" %}
  {% else %}
    {% assign label = "Not yet debated" %}
{% endcase %}

<div class="amendment amendment-{{ include.status | default: "tbd" }}">
  <div class="d-flex justify-content-between align-items-start">
    <h3 id="amendment-{{ include.number}}" {% if include.status == "defeated" %}class="text-muted"{%endif%}>Amendment #{{ include.number }}</h3>
    <p class="badge bg-{{ include.status | default: "tbd" }}">{{ label }}</p>
  </div>
  <span {% if include.status == "defeated" %}class="text-muted"{%endif%}>{{ site.amendments | where:"motion_title", page.title | where:"amendment_number", include.number | default: "Amendment not found. Please contact SOC if you think this is an error."}}</span>
</div>
