$primary: #6AB023;
$secondary: #006341;

@import "C:/Ruby27/lib/ruby/gems/2.7.0/gems/bootstrap-5.1.3/assets/stylesheets/_bootstrap";

.amendment {
  padding:1.25rem;
  margin-top:1.25rem;
  margin-bottom:1.25rem;
  border:1px solid #e9ecef;
  border-left-width:.25rem;
  border-radius:.25rem;
  border-left-color:#198754
  h4 {
        margin-bottom:.25rem
  }
  p:last-child {
    margin-bottom:0;
  }
}

.amendment+.amendment
{
  margin-top:-.25rem
}

h1, .navbar-brand {
  font-family: 'Bebas Neue', sans-serif
}

.navbar-brand {
  font-size:2em;
}
