---
layout: default
---
<!-- Code for calculating coproposer thresholds -->
{% if page.coproposers >= 0 %}
  {% assign coproposers = page.coproposers %}
{% else %}
  {% assign coproposers = page.coproposers.size %}
{% endif %}
{% if page.affiliated == true %}
  {% assign threshold = site.affiliated_threshold %}
{% else %}
  {% assign threshold = site.unaffiliated_threshold %}
{% endif %}
{% if page.status == "final" and coproposers < threshold %}
  {% assign status = "tbd" %}
{% else %}
  {% assign status = page.status %}
{% endif %}

<!-- Assigning a label to put inside the infobox -->
{% case page.status %}
  {% when "draft" %}
    {% assign label = "Draft" %}
  {% when "final" %}
    {% capture label %}
      {{ coproposers }}/{{ threshold }} co-proposers
    {% endcapture %}
  {% when "tbd" %}
    {% assign label = "Not Yet Debated" %}
  {% when "passed" %}
    {% assign label = "Motion passed" %}
  {% when "defeated" %}
    {% assign label = "Motion defeated" %}
  {% when "referred" %}
    {% assign label = "Motion referred back to conference" %}
{% endcase %}

<!-- Page starts -->
<p class="m-0 small text-muted">Motion #{% unless page.section.size > 3 %}{{ page.section }}{% endunless %}{% if page.section.size > 1 %}&nbsp;{% endif %}{% if page.number < 10 %}0{% endif %}{{ page.number }}</p>
<h1>{{ page.title }}</h1>
<div class="my-3 d-flex align-items-center justify-content-center infobox rounded text-center bg-{{ status }}" style="height: 40px">{{ label }}</div>

{% unless page.coproposers >= 0 or site.show_coproposers == false %}
<p>
  Coproposers:
  {{ page.coproposers | array_to_sentence_string }}
</p>
{% endunless %}

{{ content }}

<div class="info mb-3">
  <p class="text-muted">Last updated on {{ site.time | date: "%Y-%m-%d at %H:%M" }}</p>
  <a href="{{ page.spaces }}"><button type="button" class="btn btn-outline-primary btn-center">View on Green Spaces</button></a>
</div>
