---
layout: default
---
<h2 class="small text-muted">Motion #{{ page.number }}</h2>
<h1>{{ page.title }}</h1>

{% if page.affiliated == true %}
  {% assign coproposer_threshold = site.affiliated_threshold %}
{% else %}
  {% assign coproposer_threshold = site.unaffiliated_threshold %}
{% endif %}

{% case page.status %}
  {% when "draft" %}
    {% assign styles = "bg-warning text-dark" %}
    {% assign label = "Draft" %}
  {% when "final" %}
    {% if page.coproposers >= 0 %}
      {% if page.coproposers >= coproposer_threshold %}
        {% assign styles = "bg-secondary text-light" %}
      {% else %}
        {% assign styles = "bg-light text-dark" %}
      {% endif %}
      {% capture label %}
        {{ page.coproposers }}/{{ coproposer_threshold }} co-proposers
      {% endcapture %}
    {% else %}
      {% if page.coproposers.size >= coproposer_threshold %}
        {% assign styles = "bg-secondary text-light" %}
      {% else %}
        {% assign styles = "bg-light text-dark" %}
      {% endif %}
      {% capture label %}
        {{ page.coproposers.size }}/{{ coproposer_threshold }} co-proposers
      {% endcapture %}
    {% endif %}
  {% when "tbd" %}
    {% assign styles = "bg-light text-dark" %}
    {% assign label = "Not Yet Debated" %}
  {% when "passed" %}
    {% assign styles = "bg-primary text-light" %}
    {% assign label = "Motion passed" %}
  {% when "defeated" %}
    {% assign styles = "bg-danger text-light" %}
    {% assign label = "Motion defeated" %}
  {% when "referred" %}
    {% assign styles = "bg-info text-light" %}
    {% assign label = "Motion referred back to conference" %}
{% endcase %}

<div class="my-3 d-flex align-items-center justify-content-center infobox rounded text-center {{ styles }}" style="height: 40px">{{ label }}</div>

{% unless page.coproposers >= 0 or site.show_coproposers == false %}
<p>
  Coproposers:
  {{ page.coproposers | array_to_sentence_string }}
</p>
{% endunless %}

{{ content }}

{% assign amendments = site.amendments | where:"motion_title",page.title %}

<p class="text-muted">Last updated on {{ site.time | date: "%Y-%m-%d at %H:%M" }}</p>

<a href="{{ page.spaces }}"><button type="button" class="btn btn-outline-success btn-center">View on Green Spaces</button></a>
